@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Charm:400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: 'IBM Plex Sans', sans-serif;
}
header {
  background-color: #eee;
  //border: 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#header-img {
  width: 80px;
  min-width: 80px;
  height: 110px;
  margin-right: 5px;
  margin-left: 1em;
}
#grapes {
  width: 15px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
}
nav a {
  margin: .5rem;
  font-size: 1.1em;
}
a {
  text-decoration: none;
  color: rgb(146, 0, 10);
}
a:hover {
  color: rgba(146, 0, 10, .77);
}
#header-spacing {
  flex-basis: 100%;
}
#heading {
  margin-top: .8em;
  flex-basis: 20%;
  font-family: "Great Vibes", serif;
  line-height: 2.1em;
  max-width: 146px;
}
#heading h1 {
  font-size: 36px;
  font-weight: normal;
}
#heading h2 {
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 1em;
}
h3 img {
  margin-right: .25em;
  margin-left: .25em;
}
h4 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
main {
  margin-top: 120px;
  margin-bottom: 2em;
}
p {
  line-height: 140%;
  font-size: 16px;
  font-family: "IBM Plex Serif", serif;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  z-index: -1;
}
#how-its-made-section {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
}
#video {
  width: 100%;
  max-width: 560px;
  height: 315px;
}
a.anchor {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
}
#about-us {
  top: -125px;
}
#about-us-section {
  width: 90%;
  margin-top: .3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 600px;
}
#about-us-section p {
  text-align: justify;
  text-indent: 2em;
  hyphens: auto;
}
#email {
  margin-top: .75em;
  font-size: 18px;
}
#form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  font-weight: 700;
}
.pricing-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  max-width: 225px;
  margin: 10px;
  margin-top: 0;
  border: 1px solid #000;
  border-radius: 3px;
}
 #pricing-section {
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 900;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  background-color: #f1c40f;
  border: 0;
  margin: 15px 0;
  font-weight: 400;
}
#submit {
  display: block;
  margin: .75em auto;
  padding: 5px 40px;
}
.pricing-square p {
  margin: 0 1em;
}
input[type="email"] {
  padding: .25em 2em;
}
@media (max-width: 650px) {
  #pricing-section {
    flex-direction: column;
    align-items: center;
  }
  .pricing-square {
    width: 225px;
  }
}
@media (max-width: 570px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }
  .nav-link {
  	margin-bottom: 0;
  }
  h3 {
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (max-width: 400px) {
  #header-img {
    display: none;
  }
  #heading h2 {
    display: none;
  }
  #heading {
    margin-left: 2em;
    margin-top: 2em;
  }
  .nav-link {
    margin-top: 0;
  }
  nav {
    margin-top: .5em;
    margin-bottom: .5em;
  }
  a.anchor {
    top: -82px;
  }
}
@media (max-width: 350px) {
  #heading {
    margin-left: 1em;
  }
  nav {
    margin-right: .5em;
  }
}
